{% extends 'default/with_navbar.html.twig' %}

{% block title %}{% trans %}Zmień hasło{% endtrans %}{% endblock %}

{% block body %}


    <h3>Zmiana hasła</h3>

    <div class="row">
        <div class="col-md-9 col-lg-6">
    {{ form_start(form)}}

    <div class="box">
        <div class="form-group row">
            <div class="col-12 pt-1 col-sm-5 col-form-label">
                {{ form_label(form.oldPassword) }}
            </div>
            <div class="col-12 col-sm-7">
                {{ form_widget(form.oldPassword) }}
                {{ form_errors(form.oldPassword) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 pt-1 col-sm-5 col-form-label">
                {{ form_label(form.plainPassword.first) }}
            </div>
            <div class="col-12 col-sm-7">
                {{ form_widget(form.plainPassword.first) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12 pt-1 col-sm-5 col-form-label">
                {{ form_label(form.plainPassword.second) }}
            </div>
            <div class="col-12 col-sm-7">
                {{ form_widget(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
        {{ form_widget(form.submit) }}
        </div>
        <div class="col-sm-6">
            <a href="{{path('app_home')}}" class="btn btn-outline-primary">Anuluj</a>
        </div>
    </div>
        
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}