{% extends 'default/without_navbar.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
<div class="col-12 player" id="registerPage">
    <div class="row h-100">
        <div class="col-lg-8 d-flex flex-column left-panel">

            <div class="col-md-8 mx-auto">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        </div>
                <div class="d-flex flex-column">
                    <div class="text-start">
                        <img src="{{asset('assets/images/arena_logo.png')}}" class="img-fluid img-logo" />
                    </div>
                    <div class="w-100">
                    {{ form_start(registrationForm,{'attr':{'id':'registerForm'}}) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{form_row(registrationForm.userType)}}
                            </div>
                            <div class="col-md-6">
                                {{form_row(registrationForm.fullName)}}
                            </div>
                            <div class="col-md-6">
                                {{form_row(registrationForm.club)}}
                                <button data-bs-toggle="modal" data-bs-target="#addClubModal" class="btn btn-success btn-sm d-none" type="button" id="add_club_button" title="Dodaj klub">+</button>
                            </div>
                            <div class="col-md-6">
                                {{form_row(registrationForm.city)}}
                            </div>
                        

                            <div class="col-md-6">
                                {{form_row(registrationForm.position)}}

                                {{form_row(registrationForm.yearbook)}}
                            </div>

                            <div class="col-md-6">
                            {{form_row(registrationForm.email)}}
                            </div>

                            <div class="col-md-6">
                                {{form_row(registrationForm.plainPassword.first)}}
                            </div>
                            
                            <div class="col-md-6">
                                {{form_row(registrationForm.birthDate)}}
                            </div>

                            <div class="col-md-6">
                                {{form_row(registrationForm.plainPassword.second)}}
                            </div>

                            <div class="col-md-6">
                                {{form_row(registrationForm.data_consent)}}
                            </div>

                            <div class="col-md-6">
                                {{form_row(registrationForm.marketing_consent)}}
                            </div>

                        {{form_row(registrationForm.submit)}}
                        </div>

                    {{ form_end(registrationForm) }}
                    </div>
                    </div>
                    <div class="text-center">
                        <p class="mb-4">Copyright 2022 | Polityka prywatności</p>
                    </div>
        </div>
    </div>

</div>


{{include('modals/add_club_modal.html.twig')}}
{% endblock %}
