{% extends 'default/with_navbar.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
{%set pages=(15/10)|number_format(0,".",".")|round(0,'ceil')%}
<h3>Konkursy</h3>

    <div class="row" id="competitionsPage">

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/competition-icon.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/competition-icon.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="box competition-box row">
                <div class="col-3">
                    <img src="{{asset('images/adidas-logo.jpg')}}" alt="" class="img-fluid">
                </div>
                <div class="col-9">
                    <h3>Adidas shot</h3>
                    <p class="sponsor">Sponsor: Adidas</p>
                    <p class="prize">Nagroda: Nam eu risus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="time">Czas trwania: 20.06.2022 - 31.07.2022</p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary me-4">Zapisz się</a>
                        <a href="" class="btn btn-outline-primary">Więcej</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
