<div class="col-md-6">
    <div class="row mb-50">
        <div class="col-12 col-xl-6 mb-3 mb-xl-0">
            <div class="profile-pic-box mb-0">
                <img src="{{asset(user.image)}}" alt="" class="img-fluid profile-pic">
            </div>
        </div>

        <div class="col-12 col-xl-6">
            <div class="club-pic-box box h-100">
                <img src="{{asset(user.club.logo)}}" alt="" class="img-fluid club-pic">
            </div>
        </div>
    </div>

    <div class="box info-box">
        <h3>Informacje o managerze</h3>
        <div class="row">
            <div class="col-md-5">Imię i nazwisko:</div>
            <div class="col-md-7">{{user.fullName}}</div>

            <div class="col-md-5">Kraj:</div>
            <div class="col-md-7">Polska</div>

            <div class="col-md-5">Miejscowość:</div>
            <div class="col-md-7">{{user.city}}</div>
            
            <div class="col-md-5">Klub:</div>
            <div class="col-md-7">{{user.club.name}}</div>

            <div class="col-md-5">Data urodzenia:</div>
            <div class="col-md-7">{{user.birthDate|date('d.m.Y')}} ({{user.birthDate|user_age}})</div>

            <div class="col-md-5">Pozycja na boisku:</div>
            <div class="col-md-7">
                <ul>
                    {%for position in user.position%}
                        <li>{{position.name}}</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="col-md-6 ">
    <div class="box players-box">
        <h3>Moi zawodnicy</h3>
        <div class="row">

            <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imię i nazwisko</th>
                            <th>Zespół</th>
                            <th>Pozycja</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for player in data.players %}
                            <tr>
                                <td><p>{{player.fullName}}</p></td>
                                <td><p>U 12</p></td>
                                <td><p>{{player.positionName}}</p></td>
                                <td><a href="{{path('app_player_profile_show',{id:player.id})}}" class="fw-bold">Zarządzaj</a></td>
                            </td>
                        {%else%}
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-info text-center">Brak przypisanych zawodników</div>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                </div>

                <div class="text-center">
                    <a href="{{path('app_my_players')}}" class="btn btn-primary">Zobacz wszystko</a>
                </div>
            </div>
        </div>
    </div>

</div>
