{% extends 'base.html.twig' %}

{% block title %}Przypisz zawodnika do sesji treningowej{% endblock %}

{% block body %}

<div class="row">

    <div class="col-md-10 mx-auto mt-4">
        <h1>Przypisz zawodnika do sesji treningowej</h1>

        <p>Arena: {{session.arena.name}}  {{session.arena.address}}</p>
        <p>Data: {{session.sessionDate|date('d/m/Y H:i')}}
    </div>
    <div class="col-md-10 mx-auto mt-4">
        {{ form_start(form) }}
        

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
