{% extends 'default/with_navbar.html.twig' %}

{% block title %}Rezerwacja - wybierz terminy{% endblock %}

{% block body %}
{% set time = date.start|date("U") %}
{% set today = "now"|date('U') %}

<h3>Zarezerwuj termin</h3>

    <div class="row" id="arenaList">
        <div class="col-12">
            <div class="box">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Kalendarz - {{arena.name}}</h3>
                    </div>

                    <div id="calendar">
					<table class="table text-center" data-url="{{path('app_training_arena_get_free_dates',{'id':arena.id})}}">
					<thead>
						<tr>
							<th colspan="7" class="center">
							<div class="d-flex justify-content-between align-items-center">
							<a href="?date={{date.start|date_modify("-1 month")|date('Y-m')}}" class="prev-page btn btn-primary btn-sm" data-page="previous">
								<img src="{{asset('icons/long-arrow-alt-left-solid.svg')}}" class="img-fluid img-icon invert">
							</a>
								<span>{{ time|date('m')|polish_month }} {{ time|date('Y') }}</span>
							<a href="?date={{date.start|date_modify("+1 month")|date('Y-m')}}" class="next-page btn btn-primary btn-sm">
								<img src="{{asset('icons/long-arrow-alt-right-solid.svg')}}" class="img-fluid img-icon invert">
							</a>
							</div>
							</th>
						</tr>
						<tr>
							<th width="15%">
							<span class="d-none d-lg-block">Poniedziałek</span>
							<span class="d-lg-none">Pn</span>
							</th>
							<th width="15%">
							<span class="d-none d-lg-block">Wtorek</span>
							<span class="d-lg-none">Wt</span>
							</th>
							<th width="16%">
							<span class="d-none d-lg-block">Śro</span>
							<span class="d-lg-none">Śr</span>
							</th>
							<th width="15%">
							<span class="d-none d-lg-block">Czwartek</span>
							<span class="d-lg-none">Czw</span>
							</th>
							<th width="15%">
							<span class="d-none d-lg-block">Piątek</span>
							<span class="d-lg-none">Pt</span>
							</th>
							<th width="12%">
							<span class="d-none d-lg-block">Sobota</span>
							<span class="d-lg-none">Sb</span>
							</th>
							<th width="12%">
							<span class="d-none d-lg-block">Niedziela</span>
							<span class="d-lg-none">Nd</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						{% set daysInMonth = time|date('t') %}
						{% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1 %}
						{% set dow = startDow %}
						{% for day in range(1,daysInMonth) %}
							{% set dataFormated=(day~'-'~time|date('m')~'-'~time|date('Y'))|date('d-m-Y')%}
							{% set dday= dataFormated|date('U')%}
							{% if loop.first and startDow != 0 %}
								<td colspan="{{ startDow }}"></td>
							{% endif %}
							<td {%if dday<= today %} disabled{%endif%} class="{%if dday<= today%}date-past{%else%}training-date-td{%endif%}" {%if dday> today%} data-bs-toggle="modal" data-bs-target="#trainingDatesModal" data-date="{{date.start|date('Y-m')}}-{{day}}" {%endif%}>
								<div>
									<h3 {%if dataFormated in reserved%} class="reserved_day"{%endif%}>{{ day }}</h3>
									{#<button {%if dday<= today %} disabled{%endif%} data-bs-toggle="modal" data-bs-target="#trainingDatesModal" data-date="{{date.start|date('Y-m')}}-{{day}}" class="btn btn-primary btn-sm training-date-btn" type="button">Pokaż dostępne terminy</button>#}
								</div>
							</td>
							{% if loop.last and dow != 6 %}
								<td colspan="{{ 6 - dow }}">&nbsp;</td>
							{% endif %}
							{% if dow == 6 %}
								{% set dow = 0 %}
							</tr>
							<tr>
							{% else %}
								{% set dow = dow + 1 %}
							{% endif %}
						{% endfor %}
						</tr>
					</tbody>
				</table>
				</div>

                </div>
                
            </div>
        </div>
    </div>

{%include 'modals/training_dates_modal.html.twig' with {'arena':arena}%}
{% endblock %}
