{% extends 'default/with_navbar.html.twig' %}

{% block title %}Moje sesje treningowe{% endblock %}

{% block body %}

{%set pages=((reserved|length)/10)|number_format(0,".",".")%}
<h3>Moje sesje treningowe</h3>

    <div class="row" id="trainingList">
        <div class="col-12">
        <div class="overflow-x-auto only-x">
            <ul class="nav nav-tabs training-nav">
            <li class="nav-item {%if app.request.attributes.get('type') == 'all'%}active{%endif%}">
                <a class="nav-link {%if app.request.attributes.get('type') == 'all'%}active{%endif%}" href="{{path('app_training_reserved',{'type':'all'})}}">Wszystkie</a>
            </li>
            <li class="nav-item  {%if app.request.attributes.get('type') == 'to-do'%}active{%endif%}">
                <a class="nav-link  {%if app.request.attributes.get('type') == 'to-do'%}active{%endif%}" href="{{path('app_training_reserved',{'type':'to-do'})}}">Zarezerwowane</a>
            </li>
            <li class="nav-item {%if app.request.attributes.get('type') == 'done'%}active{%endif%}">
                <a class="nav-link {%if app.request.attributes.get('type') == 'done'%}active{%endif%}" href="{{path('app_training_reserved',{'type':'done'})}}">Odbyte</a>
            </li>
            <li class="nav-item {%if app.request.attributes.get('type') == 'canceled'%}active{%endif%}">
                <a class="nav-link {%if app.request.attributes.get('type') == 'canceled'%}active{%endif%}" href="{{path('app_training_reserved',{'type':'canceled'})}}">Anulowane</a>
            </li>
            </ul>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Lista treningów</h3>
                    </div>

                    <div class="col-md-6 text-end">
                    {% include 'modules/search_form.html.twig' %}
                    </div>
                    <div class="table-responsive">
                    <table class="table dataTable" data-current-page="1" data-pages="{{pages}}">
                    <thead>
                        <tr>
                            <th>Termin</th>
                            <th>Nazwa areny</th>
                            <th>Adres</th>
                            {%if app.user.userType|manager_type%}
                            <th>Zawodnik</th>
                            {%endif%}
                            <th class="text-end">Status</th>
                        </tr>
                    </thead>

                    <tbody>
                    {%for session in reserved %}
                    <tr>
                        <td>
                            <p class="d-none d-lg-block">{{session.sessionDate|date('d/m/Y H:i')}}</p>
                            <p class="d-lg-none">{{session.sessionDate|date('d/m H:i')}}</p>
                        </td>
                        <td><p>{{session.arena.name}}</p></td>
                        <td><p>{{session.arena.address}}</p></td>
                        {%if app.user.userType|manager_type%}
                        <td>
                            {%if session.player is null%}
                            <a href="{{path('app_training_assign_player',{id:session.id})}}" class="btn btn-primary ">Przypisz</a>
                            {%else%}
                            <p>{{session.player.fullName}}</p>
                            {%endif%}
                        </td>
                        {%endif%}
                        <td class="text-end">
                            <span class="status-icon ms-auto me-2 {{session.status|status_icon_class}}" title="{{session.status|status_name}}">
                            <img src="{{asset(session.status|status_icon)}}" alt="" class="img-fluid invert">
                            </span>
                        </td>
                    </tr>
                    {%else%}
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-info">Brak zarezerwowanych sesji treningowych</div>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                    </table>
                    </div>
                </div>
                {% include 'modules/pagination.html.twig' with {'data':{'pages':pages,'current':1}} %}
                
            </div>
        </div>
    </div>
{% endblock %}
